
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');



body {
  overscroll-behavior: contain;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Open Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fc-toolbar-title : {
    @apply text-red-600 text-xs;
  }
}

body {
  @apply bg-gray-100;
}

button{
  @apply no-tap-highlighting;
}